.auth{
    width:95%;
    max-width: 25rem;
    background: #38015c;
    border-radius: 6px;
    color:white;
    margin: 3rem auto;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 1rem;

}
.control{
    margin: .5rem;
}
.control label{
    display: block;
    margin-bottom: .5rem;
}
.control input{
    background: #f1e1fc;
    color:#38015c;
    border-radius: 4px;
    width: 100%;
    text-align: left;
    padding: .25rem;
    outline:none
}
.actions{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.actions button{
    cursor: pointer;
    font: inherit;
    color: white;
    background-color: #9f5ccc;
    border: 1px solid #9f5ccc;
    border-radius: 4px;
    padding: 0.5rem 2.5rem;
   
}
.actions button:hover {
    background-color: #873abb;
    border-color: #873abb;
  }
  
  .actions .toggle {
    margin-top: 1rem;
    background-color: transparent;
    color: #9f5ccc;
    border: none;
    padding: 0.15rem 1.5rem;
  }
  
  .actions .toggle:hover {
    background-color: transparent;
    color: #ae82cc;
  }